/*w3c-cssvalidator skipme:true*/
/*
    aviator
    #6A7059;
    #FDEEA7;
    #9BCC93;
    #1A9481;
    #003D5C;

    E6E2AF,A7A37E,EFECCA,046380,002F2F
*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-image: url('../images/brillant.png');
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 11pt;
    text-rendering: optimizeLegibility;
    color: rgba(0,0,0,.87);
}

button {
    border:2px solid #046380;
    background: none;
    color: rgba(0,0,0,.87);
    padding: .5rem .625rem;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
}
button:hover {
    background: #046380;
    color: #FFF;
}
a {
    color: #046380;
    text-decoration: none;
    border-bottom: dotted 1px #046380;
}
a:visited {
    color: #002F2F;
    border-bottom: dotted 1px #002F2F;
}
a:hover {
    color: #046380;
    border-bottom: dotted 1px #044680;
}
dt {
    font-weight: bold;
    margin:.5rem 0 .25rem 0;
}
dt:after {
    content: ": ";
}
dd {
    padding-left: 2rem;
}